 <style>
    #customers {
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
   }

   #customers td, #customers th {
       border: 1px solid #ddd;
       padding: 8px;
   }

   #customers tr:nth-child(even){background-color: #f2f2f2;}

   #customers tr:hover {background-color: #ddd;}

   #customers th {
       padding-top: 12px;
       padding-bottom: 12px;
       text-align: left;
       background-color: rgb(54, 180, 214);
       color: white;
   }
 </style>

 <h2 style="text-align: center; "> Products List</h2>
 <div style="padding-top: 20px;">
   <div class="btn btn-success" (click)="click()">{{btnName}}
   </div>
   <div class="alert alert-primary my-2" role="alert" *ngIf="isDisplay">
<strong >NamNDPH08656</strong>
   </div>
    <button class="btn btn-success" routerLink="/admin/add" >Add Product</button>
 </div>
<table id = "customers">
 <tr >
   <th>Id</th>
   <th >Img</th>
   <th>Name</th>
   <th >Price</th>
   <th >Desc</th>
  <th >Update</th>
  <th >Delete</th>
 </tr>
 <tr *ngFor="let product of products">
 <td >{{product.id}}</td>
 <td ><a href="#"><img style="width: 250px; height: 270px;" class="card-img-top" src="{{product.img}}"  alt=""></a>
 </td>
 <td >{{product.name}}</td>
 <td >{{product.price}}</td>
 <td >{{product.desc}}</td>
 <td ><button  class="btn btn-primary" routerLink="/admin/edit/{{product.id}}">Update</button>
 <td ><button  class="btn btn-primary" routerLink="/admin/delete/{{product.id}}">Delete</button>
 

 </tr>
</table>  
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>

  <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"># Our <span>Services</span></h3>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
          <div class="ser-fashion-grid">
            <div class="about-icon mb-md-4 mb-3">
              <!-- <span class="fa fa-ravelry" aria-hidden="true"></span> -->
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Tailoring </h4>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
          <div class="ser-fashion-grid">
            <div class="about-icon mb-md-4 mb-3">
              <!-- <span class="fa fa-female" aria-hidden="true"></span> -->
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Fashion</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
          <div class="ser-fashion-grid">
            <div class="about-icon mb-md-4 mb-3">
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Embroidery</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-fashion-grid">
            <div class="about-icon mb-md-4 mb-3">
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Ironing</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-fashion-grid">
            <div class="about-icon mb-md-4 mb-3">
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Stitch</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
          <div class="ser-fashion-grid">
            <div class="about-icon mb-md-4 mb-3">
          
            </div>
            <div class="ser-sevice-grid">
              <h4 class="pb-3">Sewing</h4>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 