<style>

  /*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
    opacity: .8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.9;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

/*-- top-header --*/

.main-top-w3l {
    background: #0879c9;
}

.header-most-top p {
    letter-spacing: 1px;
    font-size: 15px;
}

/*-- header Lists --*/

.header-right ul li {
    display: inline-block;
    width: 19%;
    font-size: 13px;
    letter-spacing: 1px;
}

.header-right ul li a {
    text-decoration: none;
}

.header-right ul li i {
    font-size: 15px;
}

/*-- modal login --*/

.modal-title {
    font-size: 30px;
    color: #0879c9;
}

.modal-content {
    border: 10px solid rgba(244, 92, 93, 0.82);
}

label.col-form-label {
    letter-spacing: 1px;
    font-size: 15px;
    color: #000;
}

p.dont-do a {
    color: #F45C5D;
}

.modal-footer .btn-primary,
.modal-footer .btn-secondary {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 14px;
}

.modal-footer .btn-primary {
    background-color: #0e0e0e;
    border-color: #0e0e0e;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.modal-footer .btn-primary:hover {
    opacity: .8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.right-w3l input[type="submit"] {
    cursor: pointer;
    letter-spacing: 1px;
    padding: 10px 0;
    background: #0879c9;
    color: #fff;
    margin: 2vw 0 1.5vw;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*-- location --*/

.list_of_cities {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(47, 47, 47, 0.44);
    color: #4d4d4d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

/*-- //location --*/

/*-- //header Lists --*/

/*-- //top-header --*/

/*-- header-bottom --*/

/*-- search --*/

.agileits_search input[type="search"] {
    color: #191e21;
    width: 78%;
    letter-spacing: 1px;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
}

.agileits_search button {
    border-radius: 0;
    background: #F45C5D;
    color: #fff;
    width: 20%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
    padding: 10px;
}

/*-- //search --*/

/*-- logo --*/

.logo_agile h1 a {
    color: #F45C5D;
    font-size: 38px;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
}

.logo_agile h1 a:hover {
    text-decoration: none;
}

.logo_agile h1 a img {
    position: absolute;
    left: -40%;
    top: -23px;
}

.logo_agile {
    padding: 26px 0 21px;
}

/*-- //logo --*/

/*-- header cart button --*/

button.w3view-cart {
    font-size: 20px;
    color: #fff;
    width: 50px;
    height: 44px;
    background: #000;
    border: 1px solid rgba(27, 25, 25, 0.27);
}

/*-- //header cart button --*/

/*-- navigation --*/

.navbar-inner {
    background: #f8f9fa;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.13);
}

.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
    font-size: 15px;
    color: #000;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #F45C5D;
}

/*-- navigation-dropdown --*/

.agile_inner_drop_nav_info {
    min-width: 673px;
}

ul.multi-column-dropdown li {
    list-style-type: none;
    line-height: 2.5em;
}

ul.multi-column-dropdown li a {
    text-decoration: none;
    font-size: 14px;
    color: #545454;
    letter-spacing: 1px;
}

ul.multi-column-dropdown li a:hover {
    color: #F45C5D;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #F45C5D;
}

.dropdown-item {
    font-size: 15px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #0879c9;
}

/*-- //navigation-dropdown --*/

/*-- //navigation --*/

/*-- //header-bottom --*/

/*-- banner --*/

/*-- carousel-slider --*/

.carousel-item.item1 {
    background: url(../images/b1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-item.item2 {
    background: url(../images/b2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-item.item3 {
    background: url(../images/b3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-item.item4 {
    background: url(../images/b4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-item.item4,
.carousel-item.item3,
.carousel-item.item2,
.carousel-item.item1 {
    min-height: 640px;
}

.w3l-space-banner {
    padding-top: 9em;
}

.carousel-caption {
    background: rgba(16, 16, 16, 0.27);
    text-align: left;
    position: inherit;
    box-shadow: 0px 2px 2px 2px rgba(2, 2, 2, 0.43);
}

.carousel-caption h2,
.carousel-caption h3 {
    font-size: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 3px 8px 2px rgb(12, 12, 12);
}

.carousel-caption h2 span,
.carousel-caption h3 span {
    font-weight: 800;
    color: #F45C5D;
}

.carousel-caption p {
    letter-spacing: 5px;
    font-size: 24px;
    color: #fff;
    text-shadow: 3px 5px 2px rgb(12, 12, 12);
}

.carousel-caption p span {
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: 600;
}

.carousel-indicators {
    bottom: 4%;
}

.carousel-indicators li {
    cursor: pointer;
}

/*-- carousel-slider --*/

/*-- banner-button --*/

.button2 {
    display: inline-block;
    background: #0879c9;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 2px;
    padding: 11px 27px;
}

.button2:hover,
.button2:focus {
    background: #F45C5D;
    color: #fff;
}

/*-- //banner-button --*/

/*-- //banner --*/

/*-- top products --*/

/*-- heading style --*/

h3.tittle-w3l {
    color: #000;
    font-size: 38px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
}

h3.tittle-w3l span {
    color: #0879c9;
    font-size: 50px;
    letter-spacing: 0;
}

/*-- //heading style --*/

/*-- cart --*/

.snipcart-details {
    width: 77%;
    margin: 0 auto;
}

.btn-danger.my-cart-btn:focus {
    outline: none;
}

.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #0879c9;
    text-decoration: none;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.snipcart-details input.button:hover {
    background: #000;
}

.product_list_header input.button {
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #fe9126;
    margin: .35em 0 0;
    background: url(../images/cart.png) no-repeat 116px 9px;
}

#PPminicarts form {
    width: 590px !important;
    padding: 10px 20px 40px !important;
    max-height: 450px !important;
}

#PPminicarts ul {
    width: 548px !important;
}

#PPminicarts .minicarts-item a {
    color: #212121 !important;
    font-size: 1em;
    display: block;
    margin-bottom: .5em;
    text-transform: capitalize;
}

#PPminicarts .minicarts-item {
    min-height: 60px !important;
}

#PPminicarts .minicarts-attributes li {
    color: #999;
}

#PPminicarts .minicarts-remove {
    background: #3399cc !important;
    border: 1px solid #3399cc !important;
    opacity: 1 !important;
    outline: none;
}

#PPminicarts .minicarts-submit {
    color: #fff !important;
    background: #0879c9 !important;
    padding: 0 10px !important;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    bottom: -25px !important;
    right: 0 !important;
    border: 1px solid #0879c9 !important;
    border-radius: 0px !important;
    text-shadow: none !important;
}

#PPminicarts .minicarts-subtotal {
    padding-left: 25px !important;
    bottom: -17px !important;
}

#PPminicarts {
    left: 44% !important;
}

.minicarts-showing #PPminicarts form {
    overflow-x: hidden;
    overflow-y: auto;
}

#PPminicarts .minicarts-footer {
    position: relative;
    width: 80%;
}

.men-pro-item {
    position: relative;
}

.men-thumb-item {
    position: relative;
}

#PPminicarts .minicarts-submit img {
    vertical-align: middle;
    padding: 4px 0 0 2px;
    display: none;
}

/*-- //cart --*/

/*-- effect on products --*/

.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
}

.product-men:nth-child(3) .product-new-top {
    background: #FFC107;
}

.product-men:nth-child(4) .product-new-top {
    background: #219ff3;
}

.product-new-top {
    background: #ff2978;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    text-align: center;
    padding: 4px 10px;
    border-radius: 4px;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart {
    background: hsla(205, 92%, 41%, 0.72);
    color: #fff;
    display: inline-block;
    height: 37px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 34px;
    border-radius: 4px;
}

.inner-men-cart-pro>ul>li {
    display: inline-block;
}

.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}

.men-thumb-item:hover {
    cursor: pointer;
}

.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}

.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 51%;
    top: 0;
    left: 24%;
    margin: 0 auto;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}

.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 81%;
}

.link-product-add-cart:hover {
    background: rgba(0, 0, 0, 0.56);
    color: #fff;
}

/*-- //effect on products --*/

/*-- product left --*/


/*--//responsive--*/
</style>
    <!-- header -->
<div class="main-top" id="home">
    <!-- header -->
 <app-header-top></app-header-top>
    <!-- //header -->
    <!-- banner -->
  <app-banner></app-banner>
  </div>
 <div class="using-border py-3">
      <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <span>/ /</span>
          </li>
          <li>service</li>
        </ul>
      </div>
    </div>
      <h2 style="text-align : center; ">  Welcome to My shop</h2> <br> <br>
<div class="row">
  <!-- <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product> -->
  <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <div class="card h-100">
       <div class="men-thumb-item text-center">
                            <img src="{{product.img}}" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a routerLink="/product/{{product.id}}" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{product.name}}</a>
        </h4>
        <h5>${{product.price}}</h5>
        <p class="card-text">{{product.desc}}</p>
        <p class="card-text">{{product.status ? 'In stock': 'Out stock'}}</p>
      </div>
      <div class="card-footer">
          <!-- <button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button> -->
                 <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                        <input type="hidden" name="amount" value="200.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button btn" />
                                    </fieldset>
                                </form>
                            </div>
          <!-- <button class="btn btn-primary" routerLink="/product/{{product.id}}">Chi tiết</button>
          <button class="btn btn-primary" >Mua Ngay</button> -->
          <!-- <input type="text" name="" id="" (keyup)="changeName($event)" class="form-control mt-3"> -->
          <!-- <input type="text" name="" id="" [(ngModel)]="product.name" class="form-control mt-3"> -->
      </div>
    </div>
  </div>



</div>
<ngb-pagination 
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="products.length"></ngb-pagination>
    <!-- //short-->
    <!-- service -->
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"># Our <span>Services</span></h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-ravelry" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Tailoring </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-female" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Fashion</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-area-chart" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Embroidery</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-magic" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Ironing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-american-sign-language-interpreting" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Stitch</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-diamond" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Sewing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //service -->
    <!-- advertise -->
 
    <!--//advertise -->
    <!-- footer -->




    <!-- //header -->
    <!-- banner -->

